 
body {
    width: 100%;
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

.container {
    padding:2%;
}

img {
    width: 150px;
    margin: 30px 30px 10px 30px;
}

a {
    color: #33691e; 
    display: flex;
} 
a:hover {
    color: #33691e;
} 

p {
    width:auto;
    margin: auto;
    text-align: justify;
} 

